<div class="container"></div>
  <h1>Montages de clips</h1>
  <ul>
    <% @clip_videos.each do |video| %>
      <li>
        <h2>Nom : <%= video.name %></h2>
          <h5>Catégorie : <%= video.category %></h5>
          <% if video.url? %>
            <iframe width="300" height="169" src=<%= video.url %> frameborder="0" allowfullscreen></iframe>
          <% end %>

          <p>Description : <%= video.description %></p>
          <p>Date de réalisation : <%= video.date.to_date %></p>
      </li>
    <% end %>
  </ul>
  <%= link_to "Retour à la liste des vidéos", videos_path %>
</div>
